{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>{{title}}</title>
    <!-- Favicon -->
    <!-- Stylesheet -->
    <link rel="stylesheet" href="http://www.rpcomputationalbiology.cn/static/style.css">
    <link rel="stylesheet" href="http://www.rpcomputationalbiology.cn/static/css/button.css">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/index/bootstrap.min.css" rel="stylesheet">
    <link href="https://img.jigao616.com/css/style.css" rel="stylesheet">
    <link href="/static/css/common/common.css" rel="stylesheet">
    {% block linkscript %}

    {% endblock linkscript %}
</head>
<body>
 <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area d-flex justify-content-between align-items-center">
    </div>
    <!-- Navbar Area -->
    <div id="sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 80px;"><div class="clever-main-menu" style="width: 1349px; position: fixed; top: 0px; z-index: inherit;">
        <div class="classy-nav-container light left breakpoint-off">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="cleverNav">

                <!-- Logo -->
                <a class="nav-brand" href="/index"><img src="{% static 'image/logo1.png' %}" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/index">主页</a></li>
                            <li ><a href="#">可视化</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="/example1">肺结核</a></li>
                                    <li><a href="/example2">流行性感冒</a></li>
                                    <li><a href="/example3">HIV</a></li>
                                </ul>-->
<!--                           <span class="dd-trigger"></span></li>-->
                            <li><a href="/forecast/forecast">数据预测</a></li>
                            <li><a href="/inform/inform">关于我们</a></li>
                            <li><a href="/rawdata/rawdata">原始数据</a></li>
                        </ul>

                        <!-- Search Button -->
                        <div class="register-login-area">
                            <a href="/analysis" class="btn active">Run TPP</a>
                        </div>

                        <!-- Register / Login -->
                        <div class="register-login-area">
                            <a href="/user/register" class="btn">注册</a>
                            <a href="/user/login" class="btn">登录</a>
                        </div>

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div></div>
</header>
 <div  class="container" style="height: 700px;">
        {% block base %}
        {% endblock base %}
 </div>

<div class="footer">
            <p>
                <a href="javascript:void(0)">关于我们</a>
                <span class="line">|</span>
                <a href="javascript:void(0)">联系我们</a>
                <span class="line"></span>
            </p>
            <p>Copyright © 2018 All Rights Reserved. </p>
            <p> <a href="javascript:void(0)" target="_blank" rel="nofollow">XICP备xxxxx号-x</a>公网安备 xxxxxxxxxx号 归XXX所有</p>
         </div>
</body>
</html>