<!DOCTYPE html>
<html lang="zh-CN">
{%  load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="applicable-device" content="pc,mobile">
    <!-- Bootstrap core CSS -->
    <link href="https://img.jigao616.com/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://img.jigao616.com/css/style.css" rel="stylesheet">

    <link href="{% static 'css/common/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/register/register.css' %}" rel="stylesheet">

    <link href="{% static 'css/index/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="http://www.rpcomputationalbiology.cn/static/style.css">
    <link rel="stylesheet" href="http://www.rpcomputationalbiology.cn/static/css/button.css">

    <title>注册</title>

    <!--JQUERY -->
    <!--模版的方式渲染本地的jquery。这里也可以去渲染服务 -->
    <script src="{% static 'lib/jquery-3.1.1.min.js' %}"></script>
    <script src="https://img.jigao616.com/js/html5shiv.min.js"></script>
    <script src="{% static 'script/common/common.js' %}"></script>
    <script src="{% static 'script/register/register.js' %}"></script>
</head>
<body>
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area d-flex justify-content-between align-items-center">
    </div>
    <!-- Navbar Area -->
    <div id="sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 80px;">
        <div class="clever-main-menu" style="width: 100%; position: fixed; top: 0px; z-index: inherit;">
        <div class="classy-nav-container light left breakpoint-off">
            <!-- Menu -->
            <nav class="classy-navbar justify-content-between" id="cleverNav">

                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="{% static 'image/logo1.png' %}" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/index">主页</a></li>
                            <li ><a href="#">可视化</a>
<!--                                <ul class="dropdown">-->
<!--                                    <li><a href="/example1">肺结核</a></li>-->
<!--                                    <li><a href="/example2">流行性感冒</a></li>-->
<!--                                    <li><a href="/example3">HIV</a></li>-->
<!--                                </ul>-->
<!--                           <span class="dd-trigger"></span>-->
                            </li>
                            <li><a href="/forecast/forecast">数据预测</a></li>
                            <li><a href="/inform/inform">研究现状</a></li>
<!--                            <li><a href="/rawdata/rawdata">原始数据</a></li>-->
                        </ul>

<!--                        &lt;!&ndash; Search Button &ndash;&gt;-->
<!--                        <div class="register-login-area">-->
<!--                            <a href="/analysis" class="btn active">Run TPP</a>-->
<!--                        </div>-->

                        <!-- Register / Login -->
                        <div class="register-login-area">
                            <a href="/user/register" class="btn">注册</a>
                            <a href="/user/login" class="btn">登录</a>
                        </div>

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div></div>
</header>
<div class="login-wrap" style="height: 700px;">
    <div class="form-popover" style="margin-bottom:2px ">
        <div class="form-hd">欢迎注册</div>
        <div class="form-body">
            <form method="post" action="/user/doRegister"  id="from1">
                {% csrf_token %}
                <div class="form-row">
                    <div class="hd">用户名</div>
                    <div class="bd">
                        <input name="username" type="text" id="username" placeholder="用户名" value="{{ username }}">
                    </div>
                </div>
                <div class="form-row">
                      <div class="hd">手机号码</div>
                      <div class="bd">
                          <input name="tel" type="text" id="tel" placeholder="您的手机号码" value="{{ tel }}">
                      </div>
                </div>

                  <div class="form-row">
                      <div class="hd">邮箱地址</div>
                      <div class="bd">
                          <input name="email" type="text" id="email" placeholder="邮箱地址" value="{{ email }}">
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="hd">密码</div>
                      <div class="bd">
                          <input name="password" type="password" id="password" placeholder="密码" value="{{ password }}">
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="hd">密码</div>
                      <div class="bd">
                          <input name="password2" type="password" id="password2" placeholder="重复输入密码" value="{{ password2 }}">
                      </div>
                  </div>

                  <div class="form-footer">
                      <input type="submit" name="Button1" value="&nbsp;&nbsp;用户注册&nbsp;&nbsp;" onclick="" id="Button1" class="btn btn-submit">
                      <span id="tishi" style="color :red"> {{ msg }}</span>

                      <span data-val-controltovalidate="email" data-val-errormessage="请输入邮箱地址" data-val-display="Dynamic" data-val-validationgroup="a" id="Requr1" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:#FF3300;display:none;"> {{ msg }}</span>

                      <span data-val-controltovalidate="password" data-val-errormessage="请输入密码" data-val-display="Dynamic" data-val-validationgroup="a" id="Requr1" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue="" style="color:#FF3300;display:none;">请输入密码</span>
                      <span data-val-controltovalidate="password2" data-val-errormessage="俩次密码输入不一致" data-val-display="Dynamic" data-val-validationgroup="a" id="Cr1" data-val="true" data-val-evaluationfunction="CompareValidatorEvaluateIsValid" data-val-controltocompare="password" data-val-controlhookup="password" style="color:#FF3300;display:none;">俩次密码输入不一致</span>
                  </div>
              </form>
            </div>
          </div>
    </div>

    <div class="footer">
        <p>
            <a href="javascript:void(0)">关于我们</a>
            <span class="line">|</span>
            <a href="javascript:void(0)">联系我们</a>
            <span class="line"></span>
        </p>
        <p>Copyright © 2018 All Rights Reserved. </p>
        <p> <a href="javascript:void(0)" target="_blank" rel="nofollow">XICP备xxxxx号-x</a>公网安备 xxxxxxxxxx号 归xxx所有</p>
    </div>
</body>
</html>