{% extends 'myApp/base.html' %}
{% load static from staticfiles %}
{% block linkscript%}
<!--插入样式 css js-->
{% endblock linkscript%}

{% block base %}
	<form action="/adduser/" method="post">
{% csrf_token %}
<input type="hidden" name="creator_id" value="1">
    <p>
        用户名：
        <input type="text" name="user_name">
    </p>
    <p>
        密码：
        <input type="text" name="user_password">
    </p>
    <p>
        邮箱：
        <input type="text" name="user_mail">
    </p>
     <p>
        手机号码：
        <input type="text" name="user_phone">
    </p>
    <p>

        <input type="submit" value="注册">
    </p>

    <hr>
</form>
{% endblock base %}



