{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link href="http://static.h-ui.net/h-ui/3.1/css/H-ui.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://lib.h-ui.net/jquery/1.9.1/jquery.min.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/swiper.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/reset.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css'%}" />

    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/swiper.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'main/js/base.js' %}"></script>
    {% block linkscript %}
    {% endblock linkscript %}
<style type="text/css">
#slider-3{ width: 960px; height: 273px; overflow: hidden;}
</style>

</head>
<body>
<header>
    <!--代码部分begin-->
<img src=""/>
</header>

<div>
    {% block base %}
    {% endblock base %}
</div>


<footer>
    <div class="container-fluid">
		<nav> <a href="#" target="_blank">关于我们</a> <span class="pipe">|</span> <a href="#" target="_blank">联系我们</a> <span class="pipe">|</span> <a href="#" target="_blank">法律声明</a> </nav>
		<p>Copyright &copy;2016 H-ui.net All Rights Reserved. <br>
			<a href="#" target="_blank" rel="nofollow">京ICP备1000000号</a><br>
		</p>
	</div>
</footer>
</body>
</html>