
<!DOCTYPE html>
<html>
<head>
	<title>修改密码</title>
</head>
<body>
	<form action="/changepassword/" method="post">
{% csrf_token %}

    <p>
        用户名：
        <input type="text" name="user_name">
    </p>
    <p>
        密码：
        <input type="text" name="user_password">
    </p>
    <p>

        <input type="submit" value="修改密码">
    </p>

    <hr>
</form>
 	{% if messages %}
        <script>
            {% for msg in messages %}
            	{% if msg.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                	alert('{{ msg.message }}');
               	{% endif %}
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>