{% extends 'myApp/base.html' %}
{% load static from staticfiles %}

{% block linkscript%}
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/predict.css' %}" />
    <script type="text/javascript" charset="utf-8" src="{% static 'login/js/predict.js' %}" ></script>
{% endblock linkscript%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
温度：<input type="text" name="temperature">
湿度：<input type="text" name="humidity">
气压：<input type="text" name="atmospheric">
降水：<input type="text" name="precipitation">
阳光：<input type="text" name="sunshine">
风力：<input type="text" name="wind">
空气质量：<input type="text" name="aqi">
pm2.5：<input type="text" name="pm2">
pm10：<input type="text" name="pm10">
SO2：<input type="text" name="SO2">
CO：<input type="text" name="CO">
NO2：<input type="text" name="NO2">
O3：<input type="text" name="O3">

<button onclick="">预测</button>
<p>预测结果为：{{forecast.pre_date}}--{{forecast.pre_result}}</p>

</body>
</html>