{% extends 'myApp/base.html' %}
{% load static from staticfiles %}
{% block linkscript%}
<!--插入样式 css js-->
{% endblock linkscript%}

{% block base %}

<!--<div id="login">-->

<!--    <div >-->
<!--        <form action="/login/" method="post">-->
<!--            {% csrf_token %}-->
<!--            <div class="input-group">-->
<!--                账号：{{form.user_name}}-->
<!--&lt;!&ndash;               <input type="text" name="username" class="c" maxlength="12" minlength="6" required="" id="id_username">&ndash;&gt;-->
<!--                <br />-->
<!--                {% if error.user_name.0 %}-->
<!--                <span>{{error.user_name.0}}</span>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            <div class="input-group">-->
<!--                密码：{{form.user_password}}-->
<!--&lt;!&ndash;                <input type="password" name="passwd" maxlength="16" minlength="6" required="" id="id_passwd">&ndash;&gt;-->
<!--                <br />-->
<!--                {% if error.user_password.0 %}-->
<!--                <span>{{error.user_password.0}}</span>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            <br>-->
<!--            <div>-->
<!--                <input type="submit" value="登陆"/>-->
<!--                <input type="submit" value="忘记密码"/>-->
<!--            </div>-->
<!--            <br>-->
<!--            <a href="#">返回</a>-->

<!--        </form>-->
<!--    </div>-->
<!--</div>-->
   <h1>欢迎登录！</h1>
<form action="/login/" method="post">
    {% csrf_token %}
    <p>
        用户名：
        <input type="text" name="user_name">
    </p>
    <p>
        密码：
        <input type="text" name="user_password">
    </p>
    <p>
        <input type="submit" value="登录">
        <input type="button" value="注册" onclick="javascript:location.href='/to_adduser/'">
        <input type="button" value="修改密码" onclick="javascript:location.href='/to_change/'">
    </p>

    <hr>
</form>
 	{% if messages %}
        <script>
            {% for msg in messages %}
            	{% if msg.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                	alert('{{ msg.message }}');
               	{% endif %}
            {% endfor %}
        </script>
    {% endif %}
{% endblock base %}
